.header__lang-link:hover {
  opacity: 0.8;
}
.header__lang-link {
  max-width: 100%;
  margin: 18px 0 16px;
  font-family: "Inter", Arial, sans-serif;
  color: white;
  text-decoration-line: none;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  opacity: 1;
}
@media (max-width: 320px) {
  .header__lang-link {
    margin: 0;
    padding-top: 14px;
    padding-bottom: 8px;
    font-size: 18px;
    line-height: 20px;
  }
}
