.places {
  display: grid;
  flex-direction: column;
  margin: 0 calc((100% - 984px)/2);
  grid-template-rows: repeat(5, min-content);
  gap: 80px;
 }
@media (max-width: 1024px) {
  .places {
    margin: 0 calc((100% - 928px)/2);
  }
}
@media (max-width: 928px) {
  .places {
    margin: 0 calc((100% - 720px)/2);
    gap: 73px;
  }
}
@media (max-width: 720px) {
  .places {
    margin: 0px;
    gap: 50px 0px;
  }
}
