.intro__list {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
  list-style-type:none;
  padding: 0px;
  margin-top: 33px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
   color: #FFFFFF;
}
@media (max-width: 320px) {
  .intro__list {
    margin-top: 0px;
  }
}
