.cover__subtitle {
  /*border: 1px solid salmon;*/
  max-width: 100%;
  margin: 0px calc((100% - 360px)/2) 0px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* or 122% */
  text-align: center;
  color: #FFFFFF;
}
@media (max-width: 720px){
  .cover__subtitle {
    margin: 0px calc((100% - 280px)/2) 0px;
    font-size: 14px;
    line-height: 16px;
  }
}
@media (max-width: 320px){
  .cover__subtitle {
    margin: 0px 16px 0px;
  }
}
