.cover__subtitle {
  max-width: 100%;
  margin: 0px 312px 0px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* or 122% */
  text-align: center;
  color: #FFFFFF;
}
@media (max-width: 1024px) {
  .cover__subtitle {
    max-width: calc(100% - (332px*2));
    margin: 0px 332px 0px;
  }
}
@media (max-width: 768px){
  .cover__subtitle {
    max-width: calc(100% - (204px*2));
    margin: 0px 204px 0px;
  }
}
@media (max-width: 625px){
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
  }
}
@media (max-width: 320px){
  .cover__subtitle {
    max-width: calc(100% - (16px*2));
    margin: 0px 16px 0px;
  }
}
