.lead__title {
  /*border: 1px solid salmon;*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 calc((100% - 720px)/2);
  max-width: 100%;
  justify-content: center;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #FFFFFF;
}
@media (max-width: 1024px) {
  .lead__title {
    margin: 0px calc((100% - 720px)/2);
  }
}
@media (max-width: 720px) {
  .lead__title {
    margin: 0px calc((100% - 288px)/2);
    font-size: 40px;
    line-height: 44px;
  }
}
