.intro {
  padding-top: 0px;
  margin:0px 422px 0px 148px;
  max-width: 100%;
}
@media (max-width: 1200px) {
  .intro {
    margin:0px 286px 0px 48px;
  }
}
@media (max-width: 768px) {
  .intro {
    margin:0px 24px;
  }
}
@media (max-width: 720px) {
  .intro {
    margin:0px 16px;
  }
}
