.cover {
  display: flex;
  margin: 0px calc((100% - 1184px)/2);
  padding: 92px 0px;
  max-width: 100%;
}
@media (max-width: 1184px) {
  .cover {
    margin: 0px;
  }
}
@media (max-width: 768px) {
  .cover {
    padding: 90px 0px 88px;
  }
}
@media (max-width: 320px) {
  .cover {
    padding: 66px 0px 64px;
  }
}
