.cover__title {
  max-width: 100%;
  margin: 0px 26.3% 32px;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  /* or 106% */
  text-align: center;
  color: #FFFFFF;
}
@media (max-width: 1024px) {
  .cover__title {
    max-width: calc(100% - (104px*2));
    margin: 0px 104px 32px;
  }
}
@media (max-width: 767px) {
  .cover__title {
    max-width: calc(100% - (104px*2));
    margin: 0px 104px 32px;
  }
}
@media (max-width: 625px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
  }
}
@media (max-width: 320px) {
  .cover__title {
    max-width: calc(100% - (16px*2));
    margin: 0px 16px 16px;
  }
}
